body{
		background-color: #e8ecf2;
	}
    
	#header{
		background-color: #ad0000;
		width: 100%;
	}
	
	#table{
		background-color: white;
	}
	
	#title{
		color: white;
		background-color: black;
	}
	
	h1{
		margin-left:15px; font-size: 50px;
	}
	
	#footer{
		width: 100%;
		background-color: #ad0000;
		height: 40px;
		position: absolute;
		bottom: 0;
	}
	
	#footer-text{
		color: white;
		text-align: center;
		margin-top: 8px;
	}
	
	#world-league{
		color: #ddcb00;
	}
	
	#eu-league{
		color: #31af28;
	}
	
	#downgrade{
		color: #f91818;
	}
	
	#legend{
		background-color: white;
		margin-top: 30px;
	}
	
	#ikonka{
		margin-top: 5px;
	}